# deps
node_modules

# cache
.DS_Store
.eslintcache
*.tsbuildinfo

# local
.env.development.local
tmp

# build
dist
immortal-*.js
.next
.swc
**/public/sw.js
**/public/sw.js.map
**/public/workbox-*.js
**/public/workbox-*.js.map
**/public/worker-*.js
**/public/worker-*.js.LICENSE.txt
**/public/sitemap*.xml
