fetch-retry-maxtimeout=60000000
fetch-retry-mintimeout=6000000

# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
 @fishbot:registry=https://gitlab.com/api/v4/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
//gitlab.com/api/v4/packages/npm/:_authToken=43rcAowR2V-ofsMsrm2k
